
 /* slider part 1 */

/* body {
  font-family: "arial", sans-serif;
  text-align: center;
} */

#slider {
  position: relative;
  width: 67.5%;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  object-fit: cover;
}
#slide {
  object-fit: cover;
}
#precedent,
#suivant {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 36px;
  color: rgba(78, 67, 183, 0.6);
  background-color: rgba(68, 69, 97, 0.6);
  padding: 10px;
}

#precedent {
  left: 0;
  transition-duration: 0.4s
}

#precedent:hover {
 background-color: #444561;
 color: #4E43B7;
}

#suivant {
  right: 0;
  transition-duration: 0.4s
}
#suivant:hover {
  background-color: #444561;
  color: #4E43B7;
}

#slider:hover #precedent,
#slider:hover #suivant {
  opacity: 1;
}

/* slider part 2 */

#slider0 {
  position: relative;
  width: 67.5%;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  object-fit: cover;
}
#slide0 {
  object-fit: cover;
}
#precedent0,
#suivant0 {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 36px;
  color: rgba(78, 67, 183, 0.6);
  background-color: rgba(68, 69, 97, 0.6);
  padding: 10px;
  transition-duration: 0.4s
}

#precedent0 {
  left: 0;
}

#precedent0:hover {
 background-color: #444561;
 color: #4E43B7;
}

#suivant0 {
  right: 0;
}
#suivant0:hover {
  background-color: #444561;
  color: #4E43B7;
}

#slider0:hover #precedent0,
#slider0:hover #suivant0 {
  opacity: 1;
}

.fa-solid {
  color: #4E43B7;
}
